<% content_for :title, @id %>

<% if flash[:notice] %>
	<%= flash[:notice] %>
<% end %>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>


<% @questions.each do |q| %>
	

	<div id="hidden-content">
		<p id="q_category"><%=q.q_category%></p>
		<p id="target_value"><%=q.target_value%></p>
	</div>


	<% if q.q_subcategory != "null" %>
		<img src="<%= image_path(q.img_filename) %>" alt="<%= q.img_filename %>"></img>
	<% end %>
	<%= q.q_text %>
	<%= form_tag("../answer", :method => "post") do %>
		<p><%= hidden_field_tag(:old_id, q.id) %></p>
		
		<% if q.q_category == "range" %>

			<%= range_field_tag(:value, nil, in: 1..100) %>
			<p id="slider-value">Value: </p>


		<% else %>
			<% choicelist = q.choices %>
			<% choices = choicelist.split(",") %>
			<% choices.each do |c| %>
				<%= radio_button_tag(q.id, c, checked = false) %><%= c %>
		<% end %>
	<% end %>
	<%= submit_tag(value = "Next") %>
	<!-- <img src="<%#= image_path(q.img_filename) %>" alt="<%#= q.img_filename %>" id="flash-this"></img> -->
	<%= image_tag "p1c.png", id:"flash-this"%>
	<% end %>
	<p id="message-div"> </p>
<% end %>

<script type="text/javascript">

var obj = new flashForRange('value');
var flashTimer;
var message;
var imageToFlash = document.getElementById("message-div");
var flashMessageFor;
var flashMessageTimer;
// int counter;

var imageIsVisible;
var imageIsFlashing;

window.onload = function(){
	message = " ";
	imageToFlash = document.getElementById("message-div");

	// Flash message ever 1000microseconds
	setInterval(flashmessage, 1000);
}

function flashmessage(){
	imageToFlash.style.display = "block";
	console.log("Message:" + message);
	console.log(imageToFlash.innerHTML);
	imageToFlash.innerHTML = message +" ";
	setTimeout(function(){imageToFlash.style.display = "none"}, 10);
}



function flashForRange(rangeId) {
	this.rangeSlider = document.getElementById(rangeId);
	this.isActive = false;
	console.log(rangeId);
	console.log(this.rangeSlider);
	obj = this;
	this.rangeSlider.onmousedown = function(event){ obj.mouseDown(); }
	document.body.mouseup = function(event){ this.mouseUp(event); }
}

flashForRange.prototype.mouseDown = function(event){
	this.isActive = true;

	// To handle slider action
	this.rangeSlider.onmousemove = function(event) {obj.mouseMove(event);}
    document.body.onmouseup = function(event){obj.mouseUp(event);}
}

flashForRange.prototype.mouseMove = function(event){
	// console.log(this.isActive);

	var slider=document.getElementById("slider-value");
	if (this.rangeSlider == document.activeElement && this.isActive) {


		slider.innerHTML = "Value: " + this.rangeSlider.value;
		handleSliderOutput(this.rangeSlider.value);
		// message = this.rangeSlider.value;
		// console.log(this.rangeSlider.value);
	}
	document.body.onmouseup = function(event) {obj.mouseUp(event);}
 	
}

flashForRange.prototype.mouseUp = function(event){
	this.isActive = false;
}

function handleSliderOutput(value){
	console.log(value);
	targetValue = document.getElementById("target_value");
	console.log(target_value.innerHTML);
	if(value < target_value.innerHTML){
		message = "MORE";
	}else if (value > target_value.innerHTML){
		message= "LESS";
	}else{
		message = " ";
			}


}

</script>

