<% content_for :title, @id %>

<% if flash[:notice] %>
	<%= flash[:notice] %>
<% end %>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
<%= javascript_include_tag "flash_message_updated.js" %>

<div class="question">


	<% @questions.each do |q| %>

		<div class="value-cycle-wrapper">

			<% if @partial == 0 %>
				<%= render "users/text_stimuli" %>
			<%# elsif @partial == 1 %>
				<%#= render "users/symbol_stimuli" %>
			<% else %>
				<%= render "users/image_stimuli" %>
			<% end %>
		</div>

		<div id="hidden-content">
			<p id="q_category"><%=q.q_category%></p>
			<p id="q_num"><%=q.q_num%></p>
			<p id="test_type"><%= @test %></p>
			<p id="target_value"><%=q.target_value %></p>
		</div>


		<div id="question">
		<% if q.q_subcategory != "null" %>
		<br>
			<img src="<%= image_path(q.img_filename) %>" alt="<%= q.img_filename %>"></img>
			<br>
		<% end %>
		<%= q.q_text %>
		<div id="message-div"><%=q.q_num %></div>

		<%= form_tag("../answer", :method => "post") do %>
			<p><%= hidden_field_tag(:old_id, q.id) %></p>
			<p><%= hidden_field_tag(:stimulus_type, "change") %></p>
			<p><%= hidden_field_tag(:response_time, 0) %></p>
			<p><%= hidden_field_tag(:target_value, q.target_value) %></p>
			<p><%= hidden_field_tag(:qtype, q.q_category) %></p>

			
			<p><%= hidden_field_tag(:value_changes, 0) %></p>
			
			<% if q.q_category == "range" %>

				0<%= range_field_tag(:value, 0, in: 1..100) %>100
				<p id="slider-value">Value: </p>


			<% else %>
					<% choicelist = q.choices %>
					<% choices = choicelist.split(",") %>
					<div id="radio-buttons">
						<% x = 0 %>
						<% choices.each do |c| %>
							<% x += 1 %>
							<%= radio_button_tag(q.id, x, checked = false) %><%= c %>

						<% end %>
					</div>
			<% end %>
		<div id="submitButton">
		<%= submit_tag(value = "Next", id:"submit-btn") %>
		</div>

		<%= image_tag "p1c.png", id:"flash-this"%>
		<% end %>
	<% end %>
</div>


