<% content_for :title, @id %>

<% if flash[:notice] %>
	<%= flash[:notice] %>
<% end %>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>

<div id="hidden-content">
	<p id="stimulus_type"></p>
	<p id="response_time"></p>
	<p id="target_value"></p>
		<p id="target_value"></p>

	<p id="q_num"></p>
	<p id="q_subcategory"></p>
	<p id="u"></p>

	<p id="group-type"></p>



</div>

<% @questions.each do |q| %>
	<div id="question">
	<% if q.q_subcategory != "null" %>
		<img src="<%= image_path(q.img_filename) %>" alt="<%= q.img_filename %>"></img>
	<% end %>
	<%= q.q_text %>
	<%= form_tag("../answer", :method => "post") do %>
		<p><%= hidden_field_tag(:old_id, q.id) %></p>
		
		<% if q.q_category == "range" %>
		 
		 	
			<!-- <#%= range_field_tag(:value, nil, in: 1..100, onchange:"printSliderValue('value')") %> -->
			<%= range_field_tag(:value, nil, in: 1..100) %>

			<!--
			<span id="range">0</span>
			<script type="text/javascript">
				function showValue(newValue)
				{
					document.getElementById("range").innerHTML=newValue;
				}
			</script>
			-->
		<% else %>
			<% choicelist = q.choices %>
			<% choices = choicelist.split(",") %>
			<% choices.each do |c| %>
				<%= radio_button_tag(q.id, c, checked = false) %><%= c %>
		<% end %>
	<% end %>
	<%= submit_tag(value = "Next") %>
	<!-- <img src="<%#= image_path(q.img_filename) %>" alt="<%#= q.img_filename %>" id="flash-this"></img> -->
	<%= image_tag "p1c.png", id:"flash-this"%>
	<% end %>
	</div>
<% end %>

<script type="text/javascript">

var obj = new flashForRange('value');
var flashTimer;
var message;
var imageToFlash = document.getElementById("flash-this");
var flashMessageFor;
var flashMessageTimer;
// int counter;

var imageIsVisible;
var imageIsFlashing;

window.onload = function(){
	message = "hi";
	imageToFlash = document.getElementById("flash-this");

	// Flash message ever 1000microseconds
	setInterval(flashmessage, 1000);
}

function flashmessage(){
	imageToFlash.style.display = "block";
	setTimeout(function(){imageToFlash.style.display = "none"}, 0);
}



function flashForRange(rangeId) {
	this.rangeSlider = document.getElementById(rangeId);
	this.isActive = false;
	obj = this;
	this.rangeSlider.onmousedown = function(event){ obj.mouseDown(); }
	document.body.mouseup = function(event){ this.mouseUp(event); }
}

flashForRange.prototype.mouseDown = function(event){
	this.isActive = true;

	// To handle slider action
	this.rangeSlider.onmousemove = function(event) {obj.mouseMove(event);}
    document.body.onmouseup = function(event){obj.mouseUp(event);}
}

flashForRange.prototype.mouseMove = function(event){
	// console.log(this.isActive);

	if (this.rangeSlider == document.activeElement && this.isActive) {
		message = this.rangeSlider.value;
		// console.log(this.rangeSlider.value);}
	}
	document.body.onmouseup = function(event) {obj.mouseUp(event);}
 	
}

flashForRange.prototype.mouseUp = function(event){
	this.isActive = false;
}


</script>

