<p class="hidden" id="num-image">36</p>
<p class="hidden" id="num-stim">8</p>


<%= image_tag("symbols/reg/reg_0.svg", :class => 'cycle-elem', :id =>'cycle-0') %>

<%= image_tag("symbols/reg/reg_1.svg", :class => 'cycle-elem', :id =>'cycle-1') %>

<%= image_tag("symbols/reg/reg_2.svg", :class => 'cycle-elem', :id =>'cycle-2') %>

<%= image_tag("symbols/reg/reg_3.svg", :class => 'cycle-elem', :id =>'cycle-3') %>

<%= image_tag("symbols/reg/reg_4.svg", :class => 'cycle-elem', :id =>'cycle-4') %>

<%= image_tag("symbols/reg/reg_5.svg", :class => 'cycle-elem', :id =>'cycle-5') %>

<%= image_tag("symbols/reg/reg_6.svg", :class => 'cycle-elem', :id =>'cycle-6') %>

<%= image_tag("symbols/reg/reg_7.svg", :class => 'cycle-elem', :id =>'cycle-7') %>

<%= image_tag("symbols/reg/reg_8.svg", :class => 'cycle-elem', :id =>'cycle-8') %>

<%= image_tag("symbols/reg/reg_9.svg", :class => 'cycle-elem', :id =>'cycle-9') %>

<%= image_tag("symbols/reg/reg_10.svg", :class => 'cycle-elem', :id =>'cycle-10') %>

<%= image_tag("symbols/reg/reg_11.svg", :class => 'cycle-elem', :id =>'cycle-11') %>

<%= image_tag("symbols/reg/reg_12.svg", :class => 'cycle-elem', :id =>'cycle-12') %>

<%= image_tag("symbols/reg/reg_13.svg", :class => 'cycle-elem', :id =>'cycle-13') %>

<%= image_tag("symbols/reg/reg_14.svg", :class => 'cycle-elem', :id =>'cycle-14') %>

<%= image_tag("symbols/reg/reg_15.svg", :class => 'cycle-elem', :id =>'cycle-15') %>

<%= image_tag("symbols/reg/reg_16.svg", :class => 'cycle-elem', :id =>'cycle-16') %>

<%= image_tag("symbols/reg/reg_17.svg", :class => 'cycle-elem', :id =>'cycle-17') %>

<%= image_tag("symbols/reg/reg_18.svg", :class => 'cycle-elem', :id =>'cycle-18') %>

<%= image_tag("symbols/reg/reg_19.svg", :class => 'cycle-elem', :id =>'cycle-19') %>

<%= image_tag("symbols/reg/reg_20.svg", :class => 'cycle-elem', :id =>'cycle-20') %>

<%= image_tag("symbols/reg/reg_21.svg", :class => 'cycle-elem', :id =>'cycle-21') %>

<%= image_tag("symbols/reg/reg_22.svg", :class => 'cycle-elem', :id =>'cycle-22') %>

<%= image_tag("symbols/reg/reg_23.svg", :class => 'cycle-elem', :id =>'cycle-23') %>

<%= image_tag("symbols/reg/reg_24.svg", :class => 'cycle-elem', :id =>'cycle-24') %>

<%= image_tag("symbols/reg/reg_25.svg", :class => 'cycle-elem', :id =>'cycle-25') %>

<%= image_tag("symbols/reg/reg_26.svg", :class => 'cycle-elem', :id =>'cycle-26') %>

<%= image_tag("symbols/reg/reg_27.svg", :class => 'cycle-elem', :id =>'cycle-27') %>

<%= image_tag("symbols/reg/reg_28.svg", :class => 'cycle-elem', :id =>'cycle-28') %>

<%= image_tag("symbols/reg/reg_29.svg", :class => 'cycle-elem', :id =>'cycle-29') %>

<%= image_tag("symbols/reg/reg_30.svg", :class => 'cycle-elem', :id =>'cycle-30') %>

<%= image_tag("symbols/reg/reg_31.svg", :class => 'cycle-elem', :id =>'cycle-31') %>

<%= image_tag("symbols/reg/reg_32.svg", :class => 'cycle-elem', :id =>'cycle-32') %>

<%= image_tag("symbols/reg/reg_33.svg", :class => 'cycle-elem', :id =>'cycle-33') %>

<%= image_tag("symbols/reg/reg_34.svg", :class => 'cycle-elem', :id =>'cycle-34') %>

<%= image_tag("symbols/reg/reg_35.svg", :class => 'cycle-elem', :id =>'cycle-35') %>



<%= image_tag("symbols/neg/neg_0.svg", :class => 'cycle-elem', :id =>'neg-0') %>

<%= image_tag("symbols/neg/neg_1.svg", :class => 'cycle-elem', :id =>'neg-1') %>

<%= image_tag("symbols/neg/neg_2.svg", :class => 'cycle-elem', :id =>'neg-2') %>

<%= image_tag("symbols/neg/neg_3.svg", :class => 'cycle-elem', :id =>'neg-3') %>

<%= image_tag("symbols/neg/neg_4.svg", :class => 'cycle-elem', :id =>'neg-4') %>

<%= image_tag("symbols/neg/neg_5.svg", :class => 'cycle-elem', :id =>'neg-5') %>

<%= image_tag("symbols/neg/neg_6.svg", :class => 'cycle-elem', :id =>'neg-6') %>

<%= image_tag("symbols/neg/neg_7.svg", :class => 'cycle-elem', :id =>'neg-7') %>



<%= image_tag("symbols/pos/pos_0.svg", :class => 'cycle-elem', :id =>'pos-0') %>

<%= image_tag("symbols/pos/pos_1.svg", :class => 'cycle-elem', :id =>'pos-1') %>

<%= image_tag("symbols/pos/pos_2.svg", :class => 'cycle-elem', :id =>'pos-2') %>

<%= image_tag("symbols/pos/pos_3.svg", :class => 'cycle-elem', :id =>'pos-3') %>

<%= image_tag("symbols/pos/pos_4.svg", :class => 'cycle-elem', :id =>'pos-4') %>

<%= image_tag("symbols/pos/pos_5.svg", :class => 'cycle-elem', :id =>'pos-5') %>

<%= image_tag("symbols/pos/pos_6.svg", :class => 'cycle-elem', :id =>'pos-6') %>

<%= image_tag("symbols/pos/pos_7.svg", :class => 'cycle-elem', :id =>'pos-7') %>

