<p class="hidden" id="num-image">36</p>
<p class="hidden" id="num-stim">8</p>


<%= image_tag("symbols/reg/cycle-0.svg", :class => 'cycle-elem', :id =>'cycle-0') %>

<%= image_tag("symbols/reg/cycle-1.svg", :class => 'cycle-elem', :id =>'cycle-1') %>

<%= image_tag("symbols/reg/cycle-2.svg", :class => 'cycle-elem', :id =>'cycle-2') %>

<%= image_tag("symbols/reg/cycle-3.svg", :class => 'cycle-elem', :id =>'cycle-3') %>

<%= image_tag("symbols/reg/cycle-4.svg", :class => 'cycle-elem', :id =>'cycle-4') %>

<%= image_tag("symbols/reg/cycle-5.svg", :class => 'cycle-elem', :id =>'cycle-5') %>

<%= image_tag("symbols/reg/cycle-6.svg", :class => 'cycle-elem', :id =>'cycle-6') %>

<%= image_tag("symbols/reg/cycle-7.svg", :class => 'cycle-elem', :id =>'cycle-7') %>

<%= image_tag("symbols/reg/cycle-8.svg", :class => 'cycle-elem', :id =>'cycle-8') %>

<%= image_tag("symbols/reg/cycle-9.svg", :class => 'cycle-elem', :id =>'cycle-9') %>

<%= image_tag("symbols/reg/cycle-10.svg", :class => 'cycle-elem', :id =>'cycle-10') %>

<%= image_tag("symbols/reg/cycle-11.svg", :class => 'cycle-elem', :id =>'cycle-11') %>

<%= image_tag("symbols/reg/cycle-12.svg", :class => 'cycle-elem', :id =>'cycle-12') %>

<%= image_tag("symbols/reg/cycle-13.svg", :class => 'cycle-elem', :id =>'cycle-13') %>

<%= image_tag("symbols/reg/cycle-14.svg", :class => 'cycle-elem', :id =>'cycle-14') %>

<%= image_tag("symbols/reg/cycle-15.svg", :class => 'cycle-elem', :id =>'cycle-15') %>

<%= image_tag("symbols/reg/cycle-16.svg", :class => 'cycle-elem', :id =>'cycle-16') %>

<%= image_tag("symbols/reg/cycle-17.svg", :class => 'cycle-elem', :id =>'cycle-17') %>

<%= image_tag("symbols/reg/cycle-18.svg", :class => 'cycle-elem', :id =>'cycle-18') %>

<%= image_tag("symbols/reg/cycle-19.svg", :class => 'cycle-elem', :id =>'cycle-19') %>

<%= image_tag("symbols/reg/cycle-20.svg", :class => 'cycle-elem', :id =>'cycle-20') %>

<%= image_tag("symbols/reg/cycle-21.svg", :class => 'cycle-elem', :id =>'cycle-21') %>

<%= image_tag("symbols/reg/cycle-22.svg", :class => 'cycle-elem', :id =>'cycle-22') %>

<%= image_tag("symbols/reg/cycle-23.svg", :class => 'cycle-elem', :id =>'cycle-23') %>

<%= image_tag("symbols/reg/cycle-24.svg", :class => 'cycle-elem', :id =>'cycle-24') %>

<%= image_tag("symbols/reg/cycle-25.svg", :class => 'cycle-elem', :id =>'cycle-25') %>

<%= image_tag("symbols/reg/cycle-26.svg", :class => 'cycle-elem', :id =>'cycle-26') %>

<%= image_tag("symbols/reg/cycle-27.svg", :class => 'cycle-elem', :id =>'cycle-27') %>

<%= image_tag("symbols/reg/cycle-28.svg", :class => 'cycle-elem', :id =>'cycle-28') %>

<%= image_tag("symbols/reg/cycle-29.svg", :class => 'cycle-elem', :id =>'cycle-29') %>

<%= image_tag("symbols/reg/cycle-30.svg", :class => 'cycle-elem', :id =>'cycle-30') %>

<%= image_tag("symbols/reg/cycle-31.svg", :class => 'cycle-elem', :id =>'cycle-31') %>

<%= image_tag("symbols/reg/cycle-32.svg", :class => 'cycle-elem', :id =>'cycle-32') %>

<%= image_tag("symbols/reg/cycle-33.svg", :class => 'cycle-elem', :id =>'cycle-33') %>

<%= image_tag("symbols/reg/cycle-34.svg", :class => 'cycle-elem', :id =>'cycle-34') %>

<%= image_tag("symbols/reg/cycle-35.svg", :class => 'cycle-elem', :id =>'cycle-35') %>



<%= image_tag("symbols/neg/neg-0.svg", :class => 'cycle-elem', :id =>'neg-0') %>

<%= image_tag("symbols/neg/neg-1.svg", :class => 'cycle-elem', :id =>'neg-1') %>

<%= image_tag("symbols/neg/neg-2.svg", :class => 'cycle-elem', :id =>'neg-2') %>

<%= image_tag("symbols/neg/neg-3.svg", :class => 'cycle-elem', :id =>'neg-3') %>

<%= image_tag("symbols/neg/neg-4.svg", :class => 'cycle-elem', :id =>'neg-4') %>

<%= image_tag("symbols/neg/neg-5.svg", :class => 'cycle-elem', :id =>'neg-5') %>

<%= image_tag("symbols/neg/neg-6.svg", :class => 'cycle-elem', :id =>'neg-6') %>

<%= image_tag("symbols/neg/neg-7.svg", :class => 'cycle-elem', :id =>'neg-7') %>



<%= image_tag("symbols/pos/pos-0.svg", :class => 'cycle-elem', :id =>'pos-0') %>

<%= image_tag("symbols/pos/pos-1.svg", :class => 'cycle-elem', :id =>'pos-1') %>

<%= image_tag("symbols/pos/pos-2.svg", :class => 'cycle-elem', :id =>'pos-2') %>

<%= image_tag("symbols/pos/pos-3.svg", :class => 'cycle-elem', :id =>'pos-3') %>

<%= image_tag("symbols/pos/pos-4.svg", :class => 'cycle-elem', :id =>'pos-4') %>

<%= image_tag("symbols/pos/pos-5.svg", :class => 'cycle-elem', :id =>'pos-5') %>

<%= image_tag("symbols/pos/pos-6.svg", :class => 'cycle-elem', :id =>'pos-6') %>

<%= image_tag("symbols/pos/pos-7.svg", :class => 'cycle-elem', :id =>'pos-7') %>

